<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>填写问卷</title>

    <!-- Bootstrap -->
    <link href="/Public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Public/css/common.css" rel="stylesheet">
    <link href="/Public/css/create.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <if condition="$activeModify eq true">
          <div class="header_left goto_manage">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </div>
      <else />
        <div class="header_left goto_home">
          <span class="glyphicon glyphicon-home"></span>
        </div>
      </if>
      {$surveyDetail.title}

      <div class="header_right goto_share" id="goto-share-{$surveyDetail.sid}">
        <span class="glyphicon glyphicon-share"></span>
      </div>
    </div>
    <div class="survey-tips-view">温馨提示: 本问卷系统不会记录您的个人信息，请放心填写！</div>
    <p class="survey-subtitle-view">{$surveyDetail.subtitle}</p>
    <div class="survey-form" id="survey-form-{$surveyDetail.sid}">
      <volist name="activeQuestionSet" id="questionItem">
      <div class="question-item" id="question-{$questionItem.type}-{$questionItem.qid}">
        {$questionItem.innerId}. {$questionItem.type|parseType} <span class="question-necessary">{$questionItem.isnecessary|parseIsnecessary}</span>

        <div class="question-title">{$questionItem.title}<span class="question-subtitle">{$questionItem.subtitle}</span></div>

        <if condition="$questionItem.type eq 'radio' or $questionItem.type eq 'checkbox'">
        <ul class="list-group question-options">
          <volist name="questionItem.optionSet" id="option">
          <if condition="$option.jump neq ''">
            <li class="list-group-item option-item option-check-select" id="option-{$option.oid}-jump-{$option.jump}">
          <else />
            <li class="list-group-item option-item option-check-select" id="option-{$option.oid}">
          </if>
            <input type="{$questionItem.type}" class="inputOption" name="question-{$questionItem.qid}-option" id="question-{$questionItem.qid}-option-{$option.oid}" />{$option.content}
            <if condition="$questionItem.isMixed eq 1">
              <input type="text" class="inputText" name="question-{$questionItem.qid}-text" id="question-{$questionItem.qid}-text-{$option.oid}" />
            </if>
          </li>

          </volist>
        </ul>

        <elseif condition="$questionItem.type eq 'text'"/>
        <div class="question-text-input">
          <input type="text" placeholder="此处填入您的回答" class="inputText" id="question-{$questionItem.qid}-text">
        </div>
        </if>

      </div>
      </volist>

    </div>


    <div class="btn-set">
      <button type="submit" class="btn btn-danger survey-submit">提交</button>
    </div>


    <div class="myNotification modal fade modal-sm">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">提示</h4>
          </div>
          <div class="modal-body">
            <p>未知错误，请于管理员联系</p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/Public/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Public/js/bootstrap.min.js"></script>
    <script src="/Public/js/common.js"></script>
    <script src="/Public/js/view.js"></script>
  </body>
</html>